<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Patient List</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container" style=" margin-left: 30px;">
    <div class="row"><h2>Patient List</h2></div>
    <div class="row">
        <!--        <a href="/patient/add" class="btn btn-primary btn-sm">Add New</a>-->
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Id</th>
                <th>Given Name</th>
                <th>Family Name</th>
                <th>Date of Birth</th>
                <th>Gender</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="patient : ${patientList}">
                <td style="width: 10%" th:text="${patient.id}"></td>
                <td th:text="${patient.givenName}"></td>
                <td th:text="${patient.familyName}"></td>
                <td th:text="${patient.dob}"></td>
                <td style="width: 25%" th:text="${patient.sex}"></td>
                <td th:text="${patient.address}"></td>
                <td th:text="${patient.phone}"></td>
                <td style="width: 50px" class="text-center">
                    <a th:href="@{/note/add/{patientId}(patientId=${patient.id})}">Add a Note</a>&nbsp;|&nbsp;
                    <a th:href="@{/note/list/{patientId}(patientId=${patient.id})}">View Patient's Notes</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
</body>
</html>